{% extends 'base.html' %}

{% block content %}
  {% for post in post_list %}
  <a href="{% url 'post_detail' pk=post.pk %}" class="text-decoration-none">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ post.image.url }}"
            class="img-fluid rounded-start"
            alt="{{ post.title }}"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.title|title }}</h5>
            <p class="card-text">
              {{ post.content|safe|linebreaksbr|truncatechars:200 }}
            </p>
            <small class="text-body-secondary">
              {{ post.author.username|title }} - {{ post.created_on|date:"M d, Y" }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
