{% extends 'base.html' %} {% block content %}
<div class="col-8">
  <div class="card mt-3">
    <img
      src="{{ post.image.url }}"
      class="card-img-top"
      alt="{{ post.title }}"
    />
    <div class="card-body">
      {% comment %} {% if user.is_authenticated and post.author.id ==
      request.user.id %}
      <a
        href="{% url 'post_remove' pk=post.pk %}"
        class="float-end btn btn-sm btn-danger"
        ><i class="bi bi-trash"></i
      ></a>
      {% if post.status == 0 or post.status == 2 %}
      <a
        href="{% url 'post_publish' pk=post.pk %}"
        class="float-end btn btn-sm btn-success me-2"
        ><i class="bi bi-file-earmark-check"></i
      ></a>
      {% else %}
      <a
        href="{% url 'post_archive' pk=post.pk %}"
        class="float-end btn btn-sm btn-danger me-2"
        ><i class="bi bi-file-earmark-excel"></i
      ></a>
      {% endif %}
      <a
        href="{% url 'post_edit' pk=post.pk %}"
        class="float-end btn btn-sm btn-secondary me-2"
        ><i class="bi bi-pencil"></i
      ></a>
      {% endif %} {% endcomment %}

      <h2 class="card-title">{{ post.title|title }}</h2>
      <small>
        {{ post.author.username|title }} - {{ post.created_on|date:"M d, Y" }}
      </small>
      <p class="card-text mt-3">{{ post.content|safe|linebreaksbr }}</p>
    </div>

    <div class="card-body pt-0">
      <hr />
      <div class="row">
        <div class="col"><h5>Comments:</h5></div>
      </div>

      {% for comment in post.comments.all %}
      <li class="row clearfix">
        <div class="col-md-2 col-4">
          <img
            class="img-fluid img-thumbnail"
            src="https://bootdey.com/img/Content/avatar/avatar4.png"
            alt="Awesome Image"
          />
        </div>
        <div class="col-md-9 col-7">
          <h5>{{ comment.author|title }}</h5>
          <p>{{ comment.content|safe }}</p>
          <ul class="list-inline">
            <li>{{ comment.created_on|timesince }}</li>
          </ul>
        </div>
        <div class="col-1">
          {% if user.is_authenticated and comment.author == request.user %}
            <button class="btn btn-danger btn-sm">Delete</button>
          {% endif %}
        </div>
      </li>
      {% empty %}
        <div class="alert alert-secondary mt-1" role="alert">
          No comments yet.
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h4>Add a comment</h4>
    </div>
    <div class="card-body">
      <form method="POST" class="post-form" action=".">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary float-end">Comment</button>
      </form>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="card mt-3 p-3">
    <div class="header">
      <h2>Categories</h2>
    </div>
    <div class="card-body">
      {% for category in categories %}
      <a class="btn btn-primary d-inline-block" href="#" role="button"
        >{{ category.name }}</a
      >
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
